@using Microsoft.AspNet.Identity

<nav class="navbar navbar-expand-lg sticky-top">
    <a class="navbar-brand" href="@Url.RouteUrl("HomeIndex")">Lighthouse</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.RouteUrl("HomeIndex")">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.RouteUrl("HomeMission")">Mission</a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link" href="@Url.RouteUrl("PrayerIndex")">Request Prayer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.RouteUrl("MissionIndex")">Mission Groups</a>
                </li>
            }
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</nav>
